#chart-v1, #chart-v2, #chart-v3, #chart-v4, #chart-v5, #chart-v6, #chart-I, #chart-II, #chart-III, #chart-avr, #chart-avl, #chart-avf {
    width: 100%;
    height: 500px;
}
.input_container {
    margin-bottom: 10px;
}
.input_container label {
    margin: 0;
}
.modal-content .form-group {
    border-bottom: none!important;
}

.modal-header {
    margin-bottom: 15px;
}
.modal-dialog {
    width: 700px;
}

.edit > .tab-pane .col-sm-4:first-child, .edit > .tab-pane .col-sm-4:last-child, .show > .tab-pane .col-sm-4:first-child, .show > .tab-pane .col-sm-4:last-child, .insert .col-sm-4:last-child, .pagination  {
    display: none;
}
