$jke-ecgChart-axisColor: #ddd;

$jke-ecgChart-backgroundColor: #fff;

$jke-ecgChart-xGridColor: #ddd;
$jke-ecgChart-yGridColor: #ddd;

$jke-ecgChart-lineColor: #006f0c;

@import "../css/libraries/jke-d3-ecg";